* {
  box-sizing: border-box;
}
.App {
  font-family: "Hachi Maru Pop", cursive;
  display: flex;
  padding: 40px 30px 0 40px;
  z-index: 0;
}
.App .Meta {
  flex-grow: 1;
  padding-right: 15px;
  padding-top: 0px;
  z-index: 0;
  margin-top: -50px;
}
.App .Meta input {
  font-family: inherit;
  padding: 5px;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.App .Meta button {
  width: 150px;
  padding: 10px 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #5569fc;
  font-family: inherit;
  font-size: large;
  margin: 20px 0;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}


.App .Meta button:hover {
  background-color: #ea947d;
  color: white;
}

.App #downloadWrapper {
  padding: 20px;
  z-index: 0;
}
.App #certificateWrapper {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
}


.Curse {
  font-family: "Staatliches", cursive;
  margin: 0;
  position: absolute;
  left: 90px;
  top: 80px;
  font-size: 30pt;
}

.Congratulations {
  font-family: "Staatliches", cursive;
  position: absolute;
  left: 90px;
  top: 150px;
  font-size: 15pt;
}

.Name {
  font-family: "Staatliches", cursive;
  color: #ea947d;
  position: absolute;
  left: 90px;
  top: 160px;
  font-size: 40pt;
}

.Thanks {
  font-family: "Staatliches", cursive;
  position: absolute;
  left: 90px;
  right: 90px;
  top: 275px;
  font-size: 15pt;
}

.Signature {
    font-family: "Staatliches", cursive;
    position: absolute;
    left: 70px;
    top: 420px;
    font-size: 10pt;
}

.App #certificateWrapper .Logo {
    width: 75px;
    height: 65px;
    margin: 0;
    position: absolute;
    left: 527px;
    top: 412px;
    z-index: 1;
}

.Certificate {
  display: block;
  width: 100%;
  height: 500px;
}
